body {
	background-color:black;
}

#gameBoard {
	border: 1px solid black;
	display: grid;
	background-image:url("images/water.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	grid-template-columns:120px 120px 120px 120px 120px;
	grid-template-rows:120px 120px 120px 120px 120px;
	justify-content:center;
	width:600px;
	height:600px;
	margin-left:auto;
	margin-right:auto;

}

#gameBoard div{
	background-repeat:no-repeat;
}

.diver{
	background-image:url("images/scubadiver.png");
}
.fish{
	background-image:url("images/fish.png");
}
.fishup{
	background-image:url("images/fish.png");
}

.fishdown{
	background-image:url("images/fishd.png");
}
 
.fishleft{
	background-image:url("images/fishl.png");
}

.fishright{
	background-image:url("images/fishr.png");
}


.fishhat{
	background-image:url("images/fishhat.png");
}

.fishhatup{
	background-image:url("images/fishhat.png");
}
.fishhatdown{
	background-image:url("images/fishdhat.png");
}

.fishhatleft{
	background-image:url("images/fishlhat.png");
}

.fishhatright{
	background-image:url("images/fishrhat.png");
}


.fishsea{
	background-image:url("images/fishsea.png");
}

.fishupsea{
	background-image:url("images/fishsea.png");
}

.fishdownsea{
	background-image:url("images/fishdsea.png");
}

.fishrightsea{
	background-image:url("images/fishrsea.png");
}

.fishleftsea{
	background-image:url("images/fishlsea.png");
}


.seaweed{
	background-image:url("images/seaweed.png");
}

.bag{
	background-image:url("images/bag.png");
}

.rock{
	background-image:url("images/rock.png");

}
.shark{
	background-image:url("images/shark.png");
}

.hat{
	background-image:url("images/hat.png");
}

.flag{
    background-image:url(images/flag.png);
}

.bridge{
	background-color:black !important;
}
.sharkl{
	background-image:url("images/sharkl.png");
}
.sharkr{
	background-image:url("images/sharkr.png");
}

.message {
    display:none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.8);
    color:white;
    font-family:Verdana, sans-serif;
    font-size: 8em;
    vertical-align: top;
    text-align: center;
    line-height: 100vh;
}













